{% load site i18n %}

<div class="content-panel schedule-list">
    <div class="schedule-list-date">{{ date|date:"Y-m-d" }}</div>
    {% get_schedule_boundaries rooms as boundaries %}
    {% get_room_column_count rooms as room_column_count %}
    <div class="schedule-table" style="grid-template-columns: repeat({{ room_column_count }}, 1fr)">
        {% for room in rooms.keys %}
            {% if room != "none_type" %}
                <div class="schedule-table-header" style="grid-row: 1; grid-column: {{ forloop.counter|add:"-1" }}">
                    <span>{{ room.name }}</span>
                    {% if room.address %}<span style="font-size: 0.9em;">{{ room.address }}</span>{% endif %}
                    {% if room.host %}<span style="font-size: 0.9em;">{% translate "Host" %}: {{ room.host }}</span>{% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {% for room, schedules in rooms.items %}
            {% with index=forloop.counter %}
                {% for schedule in schedules %}
                    {% include "snippets/schedule_item.html" %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
