{% load site i18n %}

<div class="schedule-list">
    <div class="schedule-list-date">{{ date|date:"Y-m-d" }}</div>
    {% get_schedule_boundaries rooms as boundaries %}
    {% with columns=rooms.keys %}
    <div class="schedule-table" style="grid-template-columns: repeat({{ columns|length|add:"-1" }}, 1fr)">
        {% for room in columns %}
            {% if room != "none_type" %}
                <div class="schedule-table-header" style="grid-row: 1; grid-column: {{ forloop.counter|add:"-1" }}">
                    <span>{{ room.name }}</span>
                    {% if room.address %}<span style="font-size: 0.9em;">{{ room.address }}</span>{% endif %}
                    {% if room.host %}<span style="font-size: 0.9em;">{% translate "Host" %}: {{ room.host }}</span>{% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {% for room, schedules in rooms.items %}
            {% with index=forloop.counter %}
                {% for schedule in schedules %}
                    {% include "snippets/schedule_item.html" %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endwith %}
</div>
