{% extends "base.html" %}
{% load static i18n site %}

{% block title %}{% translate "Internal server error" %}{% endblock %}

{% block body_class %}template-500{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/talk.css' %}?v=20260702-2">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <header class="talk-header">
        <h1 class="talk-title">500</h1>
        <div class="error-page-subtitle">
            {% translate "Internal server error" %}
        </div>
    </header>

    <div class="talk-content error-page">
        <i class="fa-solid fa-screwdriver-wrench error-page-icon" aria-hidden="true"></i>
        <p class="error-page-message">
            {% translate "Sorry, the server encountered an issue. Please try again later." %}
        </p>
        {% get_site_root as site_root %}
        <a href="{% i18n_url site_root %}" class="page-button">
            <i class="fa-solid fa-home"></i> {% translate "Return to homepage" %}
        </a>
    </div>
</div>
{% endblock %}
