{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}?v=20260702-2">
<link rel="stylesheet" href="{% static 'css/talk.css' %}?v=20260702-3">
{% endblock %}

{% block content %}
<div class="schedule-page-container">
    <header class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
    </header>

    {% if page.body %}
        <div class="talk-content">
            <div class="content">
                {{ page.body|richtext }}
            </div>
        </div>
    {% endif %}

    <div class="schedule-content">
        <div class="schedule-download">
            <a href="ical/" class="page-button">
                <i class="fa-solid fa-download"></i> {% translate "Download calendar (.ics)" %}
            </a>
        </div>
        {% for date, rooms in page.grouped_schedules.items %}
            {% include "snippets/schedule.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
